    <!--Barra de navegación -->
 <link rel="stylesheet" href="/styles/styles.css">

    <nav class="navbar">
        <a href="/">Inicio</a>
        <a href="/cats">Gatos</a>
         <a href="/about">Nosotros</a>
    </nav>


