<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
   <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>
    <div class="container">
  <h1>{{title}}</h1>
  <p>Esta es la página de información sobre nuestro proyecto de gatos.</p>
  <a href="/">Volver a la página principal</a>
    </div>
</body>
</html>
