<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
   <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <div class="container">
<img src="/img/gatito-mel.png" width="250">
  <p>Amamos a los gatos tanto como tú.</p>
   {{> header}}
    <section class="image-gallery">
    <img src="/img/gato1.jpg" alt="Gatito 1">
    <img src="/img/gato2.jpg" alt="Gatito 2">
    <img src="/img/gato3.jpg" alt="Gatito 3">
    <img src="/img/gato4.jpg" alt="Gatito 4">
    <img src="/img/gato5.jpg" alt="Gatito 5">
  </section>



  <a href="/cats">Ver Gatos</a>
  </div>
</body>
</html>
