<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
   <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="container">
<img src="/img/gatito-mel.png" width="250">
  <p>Amamos a los gatos tanto como tú.</p>
  <a href="/cats">Ver Gatos</a>
  </div>
</body>
</html>
