/* public/styles/styles.css */
@font-face {
  font-family: 'LazyDog';
  src: url('/fonts/lazy_dog.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BryndanWrite';
  src: url('/fonts/BryndanWrite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'BryndanWrite', sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

  
  h1 {
    color: #333;
    margin: 0 auto;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    padding: 20px;
    background: 	#FDFFB6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
 
/* Estilos para la barra de navegación */
.navbar {
  list-style-type: none;
  margin: 0 auto; /* Centramos la barra en la página */
  padding: 5px 10px; /* Añadimos espaciado interno */
  background-color: #BDB2FF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex; /* Usamos flexbox para el alineamiento */
  justify-content: space-around; /* Distribuimos los enlaces uniformemente */
  width: 800px;
}

.navbar a {
  font-family: 'BryndanWrite', sans-serif;
  text-decoration: none; /* Quitamos el subrayado de los enlaces */
  color: #706a92; /* Color del texto */
  padding: 10px 20px; /* Añadimos espaciado interno a los enlaces */
  transition: background-color 0.3s ease, color 0.3s ease; /* Suavizamos la transición de color */
  border-radius: 5px; /* Redondeamos los enlaces */
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Fondo al pasar el cursor */
  color: black; /* Color del texto al pasar el cursor */
}

.image-gallery {
  display: flex;
  justify-content: space-between; /* Espacio igual entre imágenes */
  align-items: center; /* Alineación vertical */
  padding: 10px;
  overflow-x: auto; /* Para permitir el desplazamiento horizontal si es necesario */
}

.image-gallery img {
  width: 100%; /* Ajusta el tamaño de la imagen */
  max-width: 150px; /* Ajusta el tamaño máximo de la imagen */
  height: auto; /* Mantiene la proporción de la imagen */
  margin: 0 5px; /* Espacio entre imágenes */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}


